body{
    background-color: darkgray;
};

#vid {
  margin-top: 2vh;
  margin-bottom: 5vh;
  width: 66.6vw;
  height: 62vh;
}

.vid {
  margin-top: 5vh;
  margin-bottom: 10vh;
  width: 100vw;
  height: 100vh;
}